extends layout.pug

block main
  main.home
    .home__banner.banner
      .container
        .banner__logo
          img(src="../images/logo.svg", alt="Front in Santa Maria", width="128")
        .banner__content
          h2.banner__title 8 de Junho / 2019
          h2.banner__title Itaimbé Palace Hotel