doctype html
html(lang="pt-BR")
  head
    title Front in Santa Maria
    meta(charset="UTF-8")
    meta(name="application-name" content="Front in Santa Maria")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="msapplication-TileColor" content="#FFFFFF")
    meta(name="msapplication-TileImage" content="../favicon/mstile-144x144.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    meta(name="description" content="O Front-in SM (Santa Maria) foi criado com a finalidade de reunir o maior número possível de pessoas interessadas em trocar conhecimento sobre tecnologias Web Front-End.")
    meta(name="keywords" content="front-in sm, front-in, sm, frontinsm, front-end, frontend, santa maria, rs, rio grande do sul, evento, eventos, palestras, palestrantes, comunidade, tecnologia")
    meta(name="robots" content="index, follow")

    meta(itemprop="name" content="Front-in SM")
    meta(itemprop="description" content="O Front-in SM (Santa Maria) foi criado com a finalidade de reunir o maior número possível de pessoas interessadas em trocar conhecimento sobre tecnologias Web Front-End.")
    meta(itemprop="image" content="../images/facebook.jpg")

    meta(name="twitter:card" content="O Front-in SM (Santa Maria) foi criado com a finalidade de reunir o maior número possível de pessoas interessadas em trocar conhecimento sobre tecnologias Web Front-End.")
    meta(name="twitter:site" content="@frontinsm")
    meta(name="twitter:title" content="Front-in SM")
    meta(name="twitter:description" content="O Front-in SM (Santa Maria) foi criado com a finalidade de reunir o maior número possível de pessoas interessadas em trocar conhecimento sobre tecnologias Web Front-End.")
    meta(name="twitter:creator" content="@gutofoletto")
    meta(name="twitter:image:src" content="../images/twitter.jpg")

    meta(property="og:url" content="http://frontinsm.com.br")
    meta(property="og:title" content="Front-in SM")
    meta(property="og:description" content="O Front-in SM (Santa Maria) foi criado com a finalidade de reunir o maior número possível de pessoas interessadas em trocar conhecimento sobre tecnologias Web Front-End.")
    meta(property="og:site_name" content="Front-in SM")
    meta(property="og:image" content="../images/facebook.jpg")
    meta(property="og:locale" content="pt_BR")

    link(rel="apple-touch-icon-precomposed" sizes="57x57" href="../favicon/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="../favicon/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="../favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="../favicon/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="../favicon/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="../favicon/apple-touch-icon-152x152.png")
    link(rel="icon" type="image/png" href="../favicon/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="../favicon/favicon-16x16.png" sizes="16x16")
    link(rel="stylesheet" href="../stylesheets/application.scss")
    link(href="https://fonts.googleapis.com/css?family=Passion+One|Roboto:400,700" rel="stylesheet")
  body
    block main
    script(src="../javascript/application.js")
