<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0,width=device-width">
  {{#block "metadata"}}{{/block}}
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' type='text/css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" type='text/css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/evil-icons/1.7.8/evil-icons.min.css" type='text/css'>
  {{#block "stylesheets"}}{{/block}}
</head>
<body>
  <div id="app">{{{ html }}}</div>
  {{#block "scripts"}}{{/block}}
  <script src="https://cdn.jsdelivr.net/evil-icons/1.7.8/evil-icons.min.js"></script>
</body>
</html>
