.default {
  width: 50%;
  margin: auto;
  display: block;
  padding: 20px;
  border: 2px solid white;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 3px;
}
